- # Footer
- # Allows us to create standardized styling for all footer elements
- # This is meant to provide users with the ability to identify the various elements of the company
%footer

  // Container
  // Used to determine common width across applications
  .container

    // Company
    // Uses info from DB / Credentials
    .company
      Company

    // Contact
    // Allows us to showcase how to contact the company
    .contact
      Contact
