- ########################################################
- ########################################################
- # Header
- # Allows us to create standardized styling for all header elements
- # This is meant to provide users with the ability to identify the various elements of the app
- ########################################################
- ########################################################

// Navigation
%nav

  // Top
  .top
    .container= [content_tag(:strong, link_to(Rails.application.credentials[Rails.env.to_sym][:company][:name], root_url)), Rails.application.credentials[Rails.env.to_sym][:company][:address]].join(' - ').html_safe

  // Container
  .container

    // Logo
    .logo= link_to image_tag("logo_long.png", "nopin" => "true"), root_url

    // Navigation
    // Instant Quote
    .claims
      %span
        %u Damage Reclaim LTD
        provides an
        %u INSTANT
        solution for rental damage claims.
      %span
        Based in London, we're available 24/7 to help reduce your rental repair bills...

  // Links
  %div{class: ["links", ("current" if @header_links.key(params[:id]))] }
    - @header_links.each do |text, link|
      = link_to text, link, class: [link, ("current" if params[:id] == link)]
