- ########################################################
- ########################################################
- # Claim Letter
- # This allows us to create a PDF which will act as the claims letter
- # The content is presently hard-coded, but I suppose we could make it dynamic
- ########################################################
- ########################################################

- @claim.each do |x|
  = x.inspect()

- ########################################################
- ########################################################
