- # FAQ's, News etc
- # This Allows us to list the FAQ's and news as appropriate
- case params[:id].try(:to_sym)
- when :faq
  FAQ
- when :news
  NEWS
- when :claims
  = render "application/claims"
- else
  = @content.try(:val).try(:html_safe)
